<!DOCTYPE html>
<html>
<head>
   <!-- head -->
   <%- include('./elements/head'); -%>
</head>
<body>
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
   <header id="header">
       <!-- header -->
   <%- include('./elements/header'); -%>
    </header>
   <!-- nav -->
   <%- include('./elements/navbar'); -%>
  <section id="mainContent">
   <!-- body -->
   <%- body -%>
  </section>
</div>
<!-- footer -->
<%- include('./elements/footer'); -%>
<!-- script -->
<%- include('./elements/script'); -%>
</body>
</html>







