<%- include('./../../helpers/showslider'); -%>
<%- include('./../../helpers/showtoppost'); -%>

      <% 
      const collection="index" ; 
      const articlePhoto="article" ;
      let numberPostLast=[4, 4, 1, 4] ;
      
      let slider=articleHome.filter(obj=>
        obj.slider === true
        )
        let toppost = articleHome.filter(obj =>
        obj.toppost === true
        )
        let breakingnews = articleHome.filter(obj =>
        obj.breakingnews === true
        )
        let fearture = articleHome.filter(obj =>
        obj.fearture === true
        )
        %>
        <div class="content_top">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm6">
              <div class="latest_slider">
                <div class="slick_slider">
                  <%- showSlider(slider, category, articlePhoto) %>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm6">
              <div class="content_top_right">
                <ul class="featured_nav wow fadeInDown">
                  <%- showTopPost(toppost, category, articlePhoto) %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="content_middle">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="content_middle_leftbar">
              <div class="single_category wow fadeInDown">
                <!-- coin Start -->
                <%- include('./../../elements/contentmiddle/cointable'); -%>
                <!-- coin End -->
                
              </div>
            </div>
          </div>
          <!--contentmiddle/middle  -->
          <%- include('./../../elements/contentmiddle/middle'); -%>
          <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="content_middle_rightbar">
              <div class="single_category wow fadeInDown">
                <!-- Social Follow Start -->
                <%- include('./../../elements/contentmiddle/weather'); -%>
                <%- include('./../../elements/contentmiddle/goldtable'); -%>
                <!-- Social Follow End -->
              </div>
            </div>
          </div>
        </div>
        <div class="content_bottom">
          <div class="col-lg-8 col-md-8">
            <div class="content_bottom_left">
              <div class="single_category wow fadeInDown">
                <h2> <span class="bold_line"><span></span></span> <span class="solid_line"></span> <a class="title_text" href="#">TIN NỔI BẬT</a> </h2>
                <%- include('./../../elements/hotnews/viewleft'); -%>
                <%- include('./../../elements/hotnews/viewright'); -%>
              </div>
              <div class="games_fashion_area">
                <div class="games_category">
                  <div class="single_category">
                    <h2> <span class="bold_line"><span></span></span> <span class="solid_line"></span> <a class="title_text" href="#">XU HƯỚNG</a> </h2>
                    <%- include('./../../elements/trendnews'); -%>
                  </div>
                </div>
                <div class="fashion_category">
                  <div class="single_category">
                    <div class="single_category wow fadeInDown">
                      <h2> <span class="bold_line"><span></span></span> <span class="solid_line"></span> <a class="title_text" href="#">NÓNG 24H</a> </h2>
                      <%- include('./../../elements/breaknew/viewtop'); -%>
                      <%- include('./../../elements/breaknew/viewbottom'); -%>
                    </div>
                  </div>
                </div>
              </div>
              <div class="technology_catrarea">
                <div class="single_category">
                  <h2> <span class="bold_line"><span></span></span> <span class="solid_line"></span> <a class="title_text" href="#">VIDEO</a> </h2>
                  <%- include('./../../elements/video/viewleft'); -%>
                  <%- include('./../../elements/video/viewright'); -%>
                </div>
              </div>
            </div>
          </div>
          <%- include('./../../elements/slidebar/slidebar'); -%>
      </div>
       